# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Otros archivos temporales
*.log
.DS_Store
